<form class="ui form" #formRef="ngForm" (ngSubmit)="add(formRef.value)">
	<h1 class="ui dividing header">Add New</h1>
	<div class="two fields">
		<div class="field">
			<label>Name</label>
			<div class="ui corner labeled input">
				<input type="text" name="name" placeholder="Name" value="" required [(ngModel)]="name">
				<div class="ui corner label">
					<i class="asterisk icon"></i>
				</div>
			</div>
		</div>

		<div class="field">
			<label>Address</label>
			<input type="text" name="address" placeholder="Address" [(ngModel)]="address" required>
		</div>
	</div>

	<div class="two fields">
		<div class="field">
			<label>City</label>
			<select [(ngModel)]="city" name="city" class="ui fluid search dropdown" required>
				<option value="" disabled="" selected="">Choose City/Town</option>
				<option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
			</select>
		</div>

		<div class="field">
			<label>Category</label>
			<select [(ngModel)]="category" name="category" class="ui fluid search dropdown" required>
				<option value="" disabled selected>Choose Category</option>
				<option *ngFor="let cat of categories" value="{{cat}}">{{cat}}</option>
			</select>
		</div>
	</div>

	<h3 class="ui dividing header">Contact Details</h3>
	<div class="field">
		<label>Phone</label>
		<div class="two fields">
			<div class="field">
				<input type="text" name="phone" placeholder="Phone" required [(ngModel)]="phone">
			</div>
			<div class="field">
				<input type="text" name="altphone" placeholder="Alt Phone" [(ngModel)]="altphone" value="">
			</div>
		</div>
	</div>
	<div class="field">
		<label>Email</label>
		<div class="two fields">
			<div class="field">
				<input type="text" name="email" placeholder="Email" required [(ngModel)]="email">
			</div>
			<div class="field">
				<div class="ui labeled input">
					<div class="ui label">
						http://
					</div>
					<input type="text" name="website" placeholder="Website" [(ngModel)]="website" value="">
				</div>
			</div>
		</div>
	</div>

	<h3 class="ui dividing header">Trading Hours</h3>
	<!-- Monday -->
	<div class="field">
		<label>Monday</label>

		<div class="two fields">
			<div class="field">
				<label>Open</label>
				<select [(ngModel)]="mondayopen" name="mondayopen" class="ui fluid search dropdown" required>
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="closed">CLOSED</option>        
			 </select>
			</div>

			<div class="field">
				<label>Close</label>
				<select [(ngModel)]="mondayclose" name="mondayclose" class="ui fluid search dropdown" required>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>        
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>        
					<option value="closed">CLOSED</option>        
			 </select>
			</div>
		</div>

	</div>
	<!-- Tuesday -->
	<div class="field">
		<label>Tuesday</label>

		<div class="two fields">
			<div class="field">
				<label>Open</label>
				<select [(ngModel)]="tuesday0pen" name="tuesdayopen" class="ui fluid search dropdown" required>
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="closed">CLOSED</option>        
			 </select>
			</div>

			<div class="field">
				<label>Close</label>
				<select [(ngModel)]="tuesdayclose" name="tuesdayclose" class="ui fluid search dropdown" required>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>        
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>        
					<option value="closed">CLOSED</option>        
			 </select>
			</div>
		</div>

	</div>
	<!-- Wednesday -->
	<div class="field">
		<label>Wednesday</label>

		<div class="two fields">
			<div class="field">
				<label>Open</label>
				<select [(ngModel)]="wednesdayopen" name="wednesdayopen" class="ui fluid search dropdown" required>
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="closed">CLOSED</option>        
			 </select>
			</div>

			<div class="field">
				<label>Close</label>
				<select [(ngModel)]="wednesdayclose" name="wednesdayclose" class="ui fluid search dropdown" required>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>        
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>        
					<option value="closed">CLOSED</option>        
			 </select>
			</div>
		</div>

	</div>
	<!-- Thursday -->
	<div class="field">
		<label>Thursday</label>

		<div class="two fields">
			<div class="field">
				<label>Open</label>
				<select [(ngModel)]="thursdayopen" name="thursdayopen" class="ui fluid search dropdown" required>
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="closed">CLOSED</option>        
			 </select>
			</div>

			<div class="field">
				<label>Close</label>
				<select [(ngModel)]="thursdayclose" name="thursdayclose" class="ui fluid search dropdown" required>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>        
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>        
					<option value="closed">CLOSED</option>        
			 </select>
			</div>
		</div>

	</div>
	<!-- Friday -->
	<div class="field">
		<label>Friday</label>

		<div class="two fields">
			<div class="field">
				<label>Open</label>
				<select [(ngModel)]="fridayopen" name="fridayopen" class="ui fluid search dropdown" required> 
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="closed">CLOSED</option>        
			 </select>
			</div>

			<div class="field">
				<label>Close</label>
				<select [(ngModel)]="fridayclose" name="fridayclose" class="ui fluid search dropdown" required>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>        
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>        
					<option value="closed">CLOSED</option>        
			 </select>
			</div>
		</div>

	</div>
	<!-- Saturday -->
	<div class="field">
		<label>Sunday</label>

		<div class="two fields">
			<div class="field">
				<label>Open</label>
				<select [(ngModel)]="saturdayopen" name="saturdayopen" class="ui fluid search dropdown" required> 
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="closed">CLOSED</option>        
			 </select>
			</div>

			<div class="field">
				<label>Close</label>
				<select [(ngModel)]="saturdayclose" name="saturdayclose" class="ui fluid search dropdown" required>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>        
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>        
					<option value="closed">CLOSED</option>        
			 </select>
			</div>
		</div>

	</div>
	<!-- Sunday -->
	<div class="field">
		<label>Sunday</label>

		<div class="two fields">
			<div class="field">
				<label>Open</label>
				<select [(ngModel)]="sundayopen" name="sundayopen" class="ui fluid search dropdown" required> 
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="closed">CLOSED</option>        
			 </select>
			</div>

			<div class="field">
				<label>Close</label>
				<select [(ngModel)]="sundayclose" name="sundayclose" class="ui fluid search dropdown" required>
					<option value="4:00 PM">4:00 PM</option>
					<option value="4:30 PM">4:30 PM</option>
					<option value="5:00 PM">5:00 PM</option>
					<option value="5:30 PM">5:30 PM</option>
					<option value="6:00 PM">6:00 PM</option>
					<option value="6:30 PM">6:30 PM</option>
					<option value="7:00 PM">7:00 PM</option>
					<option value="7:30 PM">7:30 PM</option>
					<option value="8:00 PM">8:00 PM</option>
					<option value="8:30 PM">8:30 PM</option>
					<option value="9:00 PM">9:00 PM</option>
					<option value="9:30 PM">9:30 PM</option>
					<option value="10:00 PM">10:00 PM</option>
					<option value="10:30 PM">10:30 PM</option>
					<option value="11:00 PM">11:00 PM</option>
					<option value="11:30 PM">11:30 PM</option>
					<option value="12:00 AM">12:00 AM</option>
					<option value="12:30 AM">12:30 AM</option>
					<option value="1:00 AM">1:00 AM</option>
					<option value="1:30 AM">1:30 AM</option>
					<option value="2:00 AM">2:00 AM</option>
					<option value="2:30 AM">2:30 AM</option>
					<option value="3:00 AM">3:00 AM</option>
					<option value="3:30 AM">3:30 AM</option>
					<option value="4:00 AM">4:00 AM</option>
					<option value="4:30 AM">4:30 AM</option>
					<option value="05:00 AM">05:00 AM</option>
					<option value="05:30 AM">05:30 AM</option>
					<option value="06:00 AM">06:00 AM</option>
					<option value="06:30 AM">06:30 AM</option>
					<option value="07:00 AM">07:00 AM</option>
					<option value="07:30 AM">07:30 AM</option>
					<option value="08:00 AM">08:00 AM</option>
					<option value="08:30 AM">08:30 AM</option>
					<option value="09:00 AM">09:00 AM</option>
					<option value="09:30 AM">09:30 AM</option>
					<option value="10:00 AM">10:00 AM</option>
					<option value="10:30 AM">10:30 AM</option>
					<option value="11:00 AM">11:00 AM</option>
					<option value="11:30 AM">11:30 AM</option>
					<option value="12:00 PM">12:00 PM</option>
					<option value="12:30 PM">12:30 PM</option>        
					<option value="1:00 PM">1:00 PM</option>
					<option value="1:30 PM">1:30 PM</option>
					<option value="2:00 PM">2:00 PM</option>
					<option value="2:30 PM">2:30 PM</option>
					<option value="3:00 PM">3:00 PM</option>
					<option value="3:30 PM">3:30 PM</option>        
					<option value="closed">CLOSED</option>        
			 </select>
			</div>
		</div>

	</div>
	<h3 class="ui dividing header">Other</h3>
	<div class="two fields">
		<div class="field">
			<label>Public Holidays (Leave empty if no infor)</label>
			<input type="text" name="public" placeholder="Eg: Open on Fiji Day, Queens birthday." [(ngModel)]="public" value="">
		</div>

		<div class="field">
			<label>Tags</label>
			<input type="text" name="tags" placeholder="mhcc,coffee,food,government" [(ngModel)]="tags" value="">
		</div>
	</div>

	<h3 class="ui dividing header">Optional (Map)</h3>
	<div class="two fields">
		<div class="field">
			<label>Latitude</label>
			<input type="text" name="latitude" placeholder="-18.124809" [(ngModel)]="latitude" value="">
		</div>

		<div class="field">
			<label>Longitude</label>
			<input type="text" name="longitude" placeholder="178.450079" [(ngModel)]="longitude" value="">
		</div>
	</div>

	<h3 class="ui dividing header">Social Media (Optional)</h3>
	<div class="two fields">
		<div class="field">
			<label>Facebook</label>
			<input type="text" name="facebook" [(ngModel)]="facebook" value="">
		</div>

		<div class="field">
			<label>Twitter</label>
			<input type="text" name="twiiter" [(ngModel)]="twiiter" value="">
		</div>
	</div>
	<div class="two fields">
		<div class="field">
			<label>Instagram</label>
			<input type="text" name="instagram" [(ngModel)]="instagram" value="">
		</div>

		<div class="field">
			<label>LinkedIn</label>
			<input type="text" name="linkedin" [(ngModel)]="linkedin" value="">
		</div>
	</div>

	<button class="ui fluid large teal submit button" type="submit">Submit</button>

</form>