<div class="ui container">
	<div class="ui two column stackable grid">
		<div class="column">
			<h2>Listing</h2>
		</div>
		<div class="column right">
			<div class="ui action left icon input" style="float:right">
				<i class="search icon"></i>
				<input #term id="search-box" (keyup)="checksearch(term.value)" placeholder="Enter company name">
				<div class="ui black button" (click)="search(term.value)">Search</div>
			</div>
		</div>
	</div>

	<div class="ui divider"></div>

	<table class="ui celled table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>City</th>
				<th>Date Added</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let company of companies | async">
				<td>{{company.name}}</td>
				<td>{{company.category}}</td>
				<td>{{company.city}}</td>
				<td>{{company.dateadded | date:'MM/dd/yyyy @ h:mma'}}</td>
				<td>
					<button routerLink="/edit/{{company.$key}}" class="ui teal button">edit</button>
				</td>
				<td>
					<button (click)="delete(company.$key)" class="ui red button">delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>